
.thiam1{
    text-align: center;
}
.babaa{
    text-align: center;
}
.baba{
    text-align: center;
}
.bb{
    background-color: rgb(213, 250, 246);
    height: 600px;
   
}
.hh{
    text-align: left;
    color: dodgerblue;
}
.h5{
    color: dodgerblue;
}
.img1{
    margin-top: 0px;
}
.qq{
    background-color: #457b9d;
    border-radius: 20px;
    width: 200px;
    height: 180px;
    margin-top: -182PX;
   

}
nav{
    background-color: rgb(213, 250, 246);
    box-shadow: 0px 2px ;
}
.aa{
    background-color: rgb(213, 250, 246);
    
  
}
.cc{
    background-color: rgb(213, 250, 246);
}
.lu{
    background-color: rgb(213, 250, 246);
    box-shadow: 0px 2px  ;
   
}

h6{
    color: cornflowerblue;
}
.clor{
    background-color: cornflowerblue;
}








.p1{
    text-align: left;
}
.clor2{
    text-align: right;
    background-color: burlywood;
    font-weight: bold;
    color: aliceblue;
    text-align: center;
}
